GOOGLE_SERVICE_ACCOUNT_FILE=bls-auto-482107-115571563f33.json
SPREADSHEET_ID=1BuzkFUzRWrBsfG9XHNBj3cFJrc73D3pJMit1K-Tj46Q
NOTION_TOKEN=
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-v4-pro
GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbxMhU5qa4o61pAkkT8X8QxUgfvLCLq6N3qZyKeYKWU_tc_YC9R5hKgqywYBbbTF4fRZ/exec
RESULT_TEMPLATE_ID=
RESULT_FOLDER_ID=1SYmU8QU1QlK7z_JXadU47ZTwUGkDfV3E
