fastapi==0.115.12
python-multipart==0.0.20
uvicorn[standard]==0.34.2
python-dotenv==1.1.0
gspread==6.2.0
google-auth==2.40.1
google-api-python-client==2.169.0
httpx==0.28.1
python-docx==1.1.2
openpyxl==3.1.5
